feast
pytest
pandas
numpy
scikit-learn
joblib
google-cloud-storage
pyarrow
mlflow
fastapi
uvicorn
pydantic
opentelemetry-exporter-gcp-trace
opentelemetry-api
opentelemetry-sdk
google-cloud-logging
prometheus-fastapi-instrumentator
opentelemetry-instrumentation
